# https://en.wikipedia.org/wiki/Code_page_437
# Code page 437 is the character set of the original IBM PC (personal computer), or DOS.
encoding=CP-437

# muLISP source files must remain CRLF
*               text eol=crlf

*.avi           binary
*.bash          text eol=lf
*.bat           text eol=crlf
*.bin           binary
*.BIN           binary
*.bmp           binary
*.com           binary
*.COM           binary
*.csh           text eol=lf
*.doc           binary
*.gif           binary
*.gz            binary
*.ico           binary
*.in            text eol=lf
*.jpg           binary
*.ksh           text eol=lf
*.mov           binary
*.mp4           binary
*.mwp           binary
*.odt           binary
*.png           binary
*.res           binary
*.sh            text eol=lf
*.sys           binary
*.SYS           binary
*.tar           binary
*.tgz           binary
*.wav           binary
*.zip           binary

